@model List<Zero_Hunger.DB.request>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_restLayout.cshtml";
}

<aside class="sidebar">
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "restaurant")">My History</a></li>
            <li><a href="@Url.Action("cart", "restaurant")">Cart</a></li>
            <li><a href="@Url.Action("Index", "Home")">Logout</a></li>
        </ul>
    </nav>
</aside>

@if (TempData["msg"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["msg"]
    </div>
}

@{
    if (Model.Count == 0)
    {
        <h1>No Request has been done</h1>
    }
    else
    {
        <table class="table table-bordered">
            <tr>
                <th class="link">ID</th>
                <th>Order Date</th>
                <th>Expire Date</th>
                <th>Total Quantity</th>
                <th>Status</th>
            </tr>
            @foreach (var request in Model)
            {
                <tr>
                    <th>@request.id</th>
                    <th>@request.order_datetime</th>
                    <th>@request.expire_datetime</th>
                    <th>@request.total_quantity</th>
                    <th>@request.status</th>
                    <th><a href="/restaurant/requestdetails/@request.id" class="btn btn-link">Details</a></th>
                </tr>
            }
        </table>
    }
}
<link href="@Url.Content("~/Style/myStyle.css")" rel="stylesheet" />

