
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_empLayout.cshtml";
}

<aside class="sidebar">
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "employee")">Employee Page</a></li>
            <li><a href="@Url.Action("requestlist", "employee")">Request List</a></li>
            <li><a href="@Url.Action("Index", "Home")">Logout</a></li>
        </ul>
    </nav>
</aside>

@if (TempData["msg"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["msg"]
    </div>
}
<h2>Welcome</h2>
<link href="@Url.Content("~/Style/myStyle.css")" rel="stylesheet" />
